.help {
  display: flex;
  padding: 2em;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.contact_container {
  display: flex;
  justify-content: center;
}

.contact_button {
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  width: max-content;
  color: #fff;
  border: 1px solid #004487;
  background-image: -webkit-gradient(linear, top, bottom, from(#5288bd), to(#2f659a));
  background-image: -webkit-linear-gradient(top, #5288bd, #2f659a);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2), 0px 1px 0px rgba(255, 255, 255, .7);
  text-shadow: 0px -1px 0px black;
  cursor: pointer;
}

.help_contents {
  list-style-type: none;
}