.mainLink {
  color: #019ce6;
  text-decoration: none;
}

.image_container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-bottom: 5vw;
}

.images {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 80vw;
}
.text_section {
  margin: 0 auto;
}

@media screen and (min-width: 801px) {
  .main_title {
    font-size: 3vw;
  }
  .sub_title {
    font-size: 2vw;
  }
  .understand
  {
    font-size: 1.5vw;
    text-align: center;
  }

  .abstract {
    padding: 1vw 5vw;
    font-size: 1.7vw;
  }

  .text_block {
    font-size: 1.5vw;
  }

  .text_section {
    font-size: 2.4vw;
    font-weight: bold;
  }

  .image {
    width: 40vw;
  }
}

@media screen and (max-width: 800px) {
  .main_title {
    font-size: 6vw;
  }
  .sub_title {
    font-size: 4vw;
  }
  .understand {
    text-align: center;
    font-size: 3.5vw;
  }

  .abstract {
    padding: 1vw 5vw;
    font-size: 3.5vw;
  }

  .text_block {
    font-size: 4vw;
  }

  .text_section {
    font-size: 5vw;
    font-weight: bold;
  }
  .image {
    width: 80vw;
    padding-top: 5vw;
  }
}

/*

.content {
  width: inherit;
  font-size: 1.2em;
  padding: 2rem;
  background-color: #fffff2;
}

.readeasy{
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
	color: #333;
	padding: 0 0 0.2em 0;
	font-weight: 500;
	font-size: 1.2vw;
	line-height: 1.8;
	text-align: justify;
}

p { 
	font-weight: 500;
	line-height: 1.8;
	text-align: justify;
}

.mainTitle {
  font-size: 3vw;
  justify-content: center;
}
*/
