.scrollToTop {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -50px;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  text-align: center;

  @keyframes wiggle {
    20% { transform: translateY(6px); }
    40% { transform: translateY(-6px); }
    60% { transform: translateY(4px); }
    80% { transform: translateY(-2px); }
    100% { transform: translateY(0); }
  }
}

.scrollWrapper {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  position: relative;
}

.toTopButton {
  background: black;
  color: white;
  font-family: Teko;
  font-size: 16px;
  line-height: 30px;
  border-radius: 15px;
  width: 100px;
  padding-top: 4px;
}